.container {
  margin-left: auto;
  margin-right: auto;

  padding: 0 16px;

  @media screen and (min-width: $phone) {
    min-width: 320px;
    max-width: 480px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1280px;
  }

  // $phone: 320px;
  // $phone-wide: 480px;
  // $pre-tablet: 767.98px;
  // $tablet: 768px;
  // $pre-desktop: 1279.98px;
  // $desktop: 1280px;

  // outline: 2px solid red;
}
