h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-style: normal;
}
button {
    font-family: inherit;
    cursor: pointer;
}
.img {
    display: block;
    max-width: 100%;
    height: auto;
}
textarea {
    resize: none;
}