.title {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29/24);
    text-transform: uppercase;

    margin-bottom: 32px;

    color: $black-color;

    @media screen and (min-width: $tablet){
        margin-bottom: 60px;
        gap: 16px;
        font-size: 44px;
        line-height: calc(54/44);
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 80px;
    }
}
.title::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $black-color;
}