@keyframes rotate {

    0% {
      transform: rotate(0deg);
    }

   100% {
      transform: rotate(115deg);
  
    }
   }
  
@keyframes move-up {
    0% {
        transform: translate(-50%, 0);
        color: $black-color;
        
    }
    100% {
        transform: translate(-50%, -180%);
        color: $white-color;

    }
}

@keyframes move-left-invisible {
    0% {
        transform: translateX(20px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes move-right-invisible {
    0% {
        transform: translateX(-20px);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 0;
    }
}

@keyframes move-left-visible {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes move-right-visible {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bgcolor {
    0% {
        background-color: $black-color;
    }

    100% {
        background-color: $white-color;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}