<section id="anchor2" class="section">
  <div class="container">
    <h2 class="about__title title">About</h2>
    <div class="about__wrapper">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <img class="about__photo" srcset="
          ./img/about/mobile/about-m.jpg   288w,
          ./img/about/tablet/about-t.jpg      344w,
          ./img/about/desktop/about-d.jpg     632w,
          ./img/about/mobile/about@2x-m.jpg   576w,
          ./img/about/tablet/about@2x-t.jpg   688w,
          ./img/about/desktop/about@2x-d.jpg 1264w
        " sizes="(min-width: 1280px) 632px, (min-width: 768px) 344px, (min-width: 480px) 288px, 100vw"
        src="./img/about/mobile/about-m.jpg" alt="Two orange protea flowers" width="632" height="344" />
    </div>
  </div>
</section>