<section class="blog section">
  <div class="container">
    <h2 class="title">Blog</h2>
    <ul class="blog__list">
      <li class="blog__item">
        <img
          class="blog__img"
          src="./img/Mobil/img2@1x.jpg"
          alt="green branches"
          loading="lazy"
        />
      </li>
      <li class="blog__item">
        <img class="blog__img" src="./img/Mobil/img1@1x.jpg" alt="pink calla" />
      </li>
      <li class="blog__item">
        <img
          class="blog__img"
          src="./img/Mobil/img3@1x.jpg"
          alt="blue irises"
          loading="lazy"
        />
      </li>
    </ul>
    <strong class="blog__text">Follow to our newsletter</strong>
    <button class="blog__btn" type="button">Subscribe</button>
    <button
      class="blog__btn-left"
      type="button"
      aria-label="arrow left"
    ></button>
    <button
      class="blog__btn-right"
      type="button"
      aria-label="arrow right"
    ></button>
  </div>
</section>
