<section class="blog section" id="blog">
  <div class="blog__container container">
    <h2 class="title">Blog</h2>
    <ul class="blog__list">
      <li class="blog__item">
        <img
          class="blog__img"
          srcset="
            ../img/blog/mobile/img2-122.jpg  122w,
            ../img/blog/mobile/img2-244.jpg  244w,
            ../img/blog/tablet/img2-287.jpg  287w,
            ../img/blog/tablet/img2-574.jpg  574w,
            ../img/blog/desktop/img2-315.jpg 315w,
            ../img/blog/desktop/img2-630.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw"
          src="../img/blog/mobile/img2-122.jpg"
          alt="green branches"
          loading="lazy"
        />
      </li>
      <li class="blog__item">
        <img
          class="blog__img"
          srcset="
            ../img/blog/mobile/img1-153.jpg  153w,
            ../img/blog/mobile/img1-306.jpg  306w,
            ../img/blog/tablet/img1-344.jpg  344w,
            ../img/blog/tablet/img1-688.jpg  688w,
            ../img/blog/desktop/img1-390.jpg 390w,
            ../img/blog/desktop/img1-780.jpg 780w
          "
          sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 153px, 100vw"
          src="../img/blog/mobile/img1-153.jpg"
          alt="pink calla"
          loading="lazy"
        />
      </li>
      <li class="blog__item">
        <img
          class="blog__img"
          srcset="
            ../img/blog/mobile/img3-122.jpg  122w,
            ../img/blog/mobile/img3-244.jpg  244w,
            ../img/blog/tablet/img3-287.jpg  287w,
            ../img/blog/tablet/img3-574.jpg  574w,
            ../img/blog/desktop/img3-315.jpg 315w,
            ../img/blog/desktop/img3-630.jpg 630w
          "
          sizes="(min-width: 1280px) 315px, (min-width: 768px) 287px, (min-width: 320px) 122px, 100vw"
          src="../img/blog/mobile/img3-122.jpg"
          alt="blue irises"
          loading="lazy"
        />
      </li>
    </ul>
    <strong class="blog__text">Follow to our newsletter</strong>
    <button class="blog__btn" type="button">Subscribe</button>
    <button class="blog__btn-left" type="button" aria-label="arrow left">
      <svg class="blog__icon" width="41" height="27">
        <use href="../img/sprite.svg#icon-blog-left"></use>
      </svg>
    </button>
    <button class="blog__btn-right" type="button" aria-label="arrow right">
      <svg class="blog__icon" width="41" height="27">
        <use href="../img/sprite.svg#icon-blog-right"></use>
      </svg>
    </button>
  </div>
</section>

