<section class="blog section" id="blog">
  <div class="blog__container container">
    <h2 class="title">Blog</h2>
    <div class="blog__list swiper">
      <div class="swiper-wrapper">
        <div class="blog__item swiper-slide">
          <img
            class="blog__img"
            srcset="
              ./img/blog/mobile/img1-153.jpg  153w,
              ./img/blog/mobile/img1-306.jpg  306w,
              ./img/blog/tablet/img1-344.jpg  344w,
              ./img/blog/tablet/img1-688.jpg  688w,
              ./img/blog/desktop/img1-390.jpg 390w,
              ./img/blog/desktop/img1-780.jpg 780w
            "
            sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 153px, 100vw"
            src="./img/blog/mobile/img1-153.jpg"
            alt="pink calla"
            loading="lazy"
          />
        </div>
        <div class="blog__item swiper-slide">
          <img
            class="blog__img"
            srcset="
              ./img/blog/mobile/img4-153.jpg  153w,
              ./img/blog/mobile/img4-306.jpg  306w,
              ./img/blog/tablet/img4-344.jpg  344w,
              ./img/blog/tablet/img4-688.jpg  688w,
              ./img/blog/desktop/img4-390.jpg 390w,
              ./img/blog/desktop/img4-780.jpg 780w
            "
            sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 153px, 100vw"
            src="./img/blog/mobile/img4-153.jpg"
            alt="white flowers"
            loading="lazy"
          />
        </div>
        <div class="blog__item swiper-slide">
          <img
            class="blog__img"
            srcset="
              ./img/blog/mobile/img5-153.jpg  153w,
              ./img/blog/mobile/img5-306.jpg  306w,
              ./img/blog/tablet/img5-344.jpg  344w,
              ./img/blog/tablet/img5-688.jpg  688w,
              ./img/blog/desktop/img5-390.jpg 390w,
              ./img/blog/desktop/img5-780.jpg 780w
            "
            sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 153px, 100vw"
            src="./img/blog/mobile/img5-153.jpg"
            alt="bouquet"
            loading="lazy"
          />
        </div>
        <div class="blog__item swiper-slide">
          <img
            class="blog__img"
            srcset="
              ./img/blog/mobile/img6-153.jpg  153w,
              ./img/blog/mobile/img6-306.jpg  306w,
              ./img/blog/tablet/img6-344.jpg  344w,
              ./img/blog/tablet/img6-688.jpg  688w,
              ./img/blog/desktop/img6-390.jpg 390w,
              ./img/blog/desktop/img6-780.jpg 780w
            "
            sizes="(min-width: 1280px) 390px, (min-width: 768px) 344px, (min-width: 320px) 153px, 100vw"
            src="./img/blog/mobile/img6-153.jpg"
            alt="orange roses"
            loading="lazy"
          />
        </div>
      </div>

      <button class="blog__btn-left" type="button" aria-label="arrow left">
        <svg class="blog__icon swiper-button-prev" width="41" height="27">
          <use href="./img/sprite.svg#icon-blog-left"></use>
        </svg>
      </button>
      <button class="blog__btn-right" type="button" aria-label="arrow right">
        <svg class="blog__icon swiper-button-next" width="41" height="27">
          <use href="./img/sprite.svg#icon-blog-right"></use>
        </svg>
      </button>
    </div>
    <strong class="blog__text">Follow to our newsletter</strong>
    <button class="blog__btn button" type="button" data-subscribe-open>
      Subscribe
    </button>
  </div>
</section>
