<section class="delivery__section">
  <div class="container">
    <h2 class="delivery__title">Delivery</h2>
    <ul class="delivery__list">
      <li class="delivery__item">
        Choose your bouquet and make an order on website
      </li>
      <li class="delivery__item">
        Wait for the call to clarify the details of the order.You can pay online
        or to the courier
      </li>
      <li class="delivery__item">
        Wait for the delivery at the selected time or pick up the order from the
        store
      </li>
      <li class="delivery__item">Make someone happy or enjoy yourself</li>
    </ul>
    <img class="delivery__img" src="" alt="" />
  </div>
</section>
