<footer class="footer">
  <section class="footer__container container">
    <a class="footer__logo" href="../index.html">
      <svg class="footer__logo-icon" width="73" height="57">
        <use href="./img/sprite.svg#icon-logo-mobile"></use>
      </svg>
    </a>
    <div class="footer__navigation-sect">
      <h3 class="footer__navigation-title footer__title">Navigation</h3>
      <ul>
        <li class="item">
          <a class="footer__navigation-link footer__link"  id="anchor1Link2" href="#anchor1"
            >Anemone</a
          >
        </li>
        <li class="item">
          <a class="footer__navigation-link footer__link"  id="anchor2Link2" href="#anchor2"
            >About us</a
          >
        </li>
        <li class="item">
          <a class="footer__navigation-link footer__link"  id="anchor3Link2" href="#anchor3"
            >Store</a
          >
        </li>
        <li class="item">
          <a class="footer__navigation-link footer__link"  id="anchor4Link2" href="#anchor4"
            >Delivery</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__work-time-sect">
      <h3 class="footer__work-time--title footer__title">Opening times</h3>
      <p class="footer__work-time">Every day <time>9:00 - 22:00</time></p>
    </div>
    <div class="footer__contacts-sect">
      <h3 class="footer__title">Contacts</h3>
      <ul>
        <li class="footer__contacts-item">
          <a class="footer__contacts-link footer__link" href="tel:+380631234567"
            >+38 063 123 45 67</a
          >
        </li>
        <li class="footer__contacts-item">
          <a
            class="footer__contacts-link footer__link"
            href="mailto:anemonestudio@example.com"
            >anemonestudio<br class="br" />@example.com</a
          >
        </li>
        <li class="footer__contacts-item">
          <a
            class="footer__contacts-link footer__link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%A0%D0%B5%D0%B9%D1%82%D0%B0%D1%80%D1%81%D0%BA%D0%B0%D1%8F,+11,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4512222,30.5105072,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4ce5bde74d21f:0x3ddb1fc45e18228!8m2!3d50.4512188!4d30.5126959!16s%2Fg%2F11c5fhwzrb?hl=ru"
            >Reitarska Street 11,<br class="br" />
            Kyiv, Ukraine
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__social-sect">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a
            class="footer__social-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.facebook.com/"
          >
            <svg class="footer__social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__social-item">
          <a
            class="footer__social-link"
            target="_blank"
            rel="noreferrer noopener"
            href="https://www.instagram.com/"
          >
            <svg class="footer__social-icon" width="28" height="28">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
