<!-- Header-->
<header class="header">
  <div class="container">
    <nav class="navigation">
      <a class="logo" href="./index.html"> </a>

      <button type="button" class="js-open-menu" aria-expanded="false">
        <svg
          class="menu"
          width="40"
          height="40"
          aria-label="Перемикач мобільного меню"
        >
          <use class="icon-menu" href="./images/icons.svg#burder-menu"></use>

          <use class="icon-close" href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="navigations__list">
        <li class="navigations__item">
          <a class="navigations__link selected" href="./index.html">Студія</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link" href="./portfolio.html">Портфоліо</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link" href="">Контакти</a>
        </li>
      </ul>
    </nav>

    <ul class="contact">
      <li class="contact__list">
        <a class="contact__link" href="mailto:info@devstudio.com">
          <svg class="contact__icon" width="16" height="12">
            <use href="./images/icons.svg#icon-email-icon-optimized"></use>
          </svg>

          info@devstudio.com
        </a>
      </li>
      <li class="contact__list">
        <a class="contact__link" href="tel:+380961111111">
          <svg class="contact__icon" width="10" height="16">
            <use href="./images/icons.svg#icon-smart"></use>
          </svg>
          +38 096 111 11 11</a
        >
      </li>
    </ul>
  </div>
</header>
