<!-- Header-->
<header class="header">
  <div class="container">
    <nav class="navigation">
      <a class="logo" href="./index.html">
        <svg class="logo__icon" width="" height="">
          <use href=""></use>
        </svg>
      </a>

      <ul class="navigations__list">
        <li class="navigations__item">
          <a class="navigations__link selected" href="">Anemone</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link" href=".">About us</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link" href="">Store</a>
        </li>

        <li class="navigations__item">
          <a class="navigations__link" href="">Delivery</a>
        </li>
        <li class="navigations__item">
          <a class="navigations__link" href="">Blog</a>
        </li>
      </ul>
    </nav>

    <ul class="contact">
      <li class="contact__list">
        <a class="contact__link" href="tel:">
          <svg class="contact__icon" width="" height="">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
