<section class="hero">
<div class="hero_content">  
    <h2 class="hero_subtitle">flower<br />studio</h2>
  <picture class="hero_img">
    <!-- Desktop screen + Tablet -->
    <source
      media="(min-width: 768px)"
      srcset="
        ../img/hero/hero_tablet@1x.webp  1x,
        ../img/hero/hero_tablet@2x..webp 2x
      "
      type="image/webp"
    />
    <source
      media="(min-width: 1200px)"
      srcset="
        ../img/hero/hero_tablet@1x.png 1x,
        ../img/hero/hero_tablet@2x.png 2x
      "
      type="image/png"
    />

    <!-- Mobile screen -->
    <source
      media="(max-width: 767px)"
      srcset="
        ../img/hero/hero_mob@1x.webp      1x,
        ../img/hero/hero_mob@2x.webp.webp 2x
      "
      type="image/webp"
    />
    <source
      media="(max-width: 767px)"
      srcset="../img/hero/hero_mob@1x.png. 1x, ../img/hero/hero_mob@2x.png 2x"
      type="image/png"
    />
    <img
      class="card-img"
      src="../img/hero/hero_2desk@2x.png"
      alt="Flower"
      width="390"
      height="636"
      loading="lazy"
    />
  </picture>
  <button class="btn hero-btn" type="button">
    <svg class="btn_icon" width="64" height="76">
      <use href=""></use>
      <use href=""></use>
      <use href=""></use>
    </svg></div>
    <h1 class="hero_title">ANEMONE</h1>
  </button>
</section>




 

