<section id="anchor1" class="hero container">
  <img
  class="hero-img large"
  srcset="
    ./img/hero/desktop/hero-full-1283.jpg 1283w,
    ./img/hero/desktop/hero-full-2566.jpg 2566w
  "
  sizes="(min-width: 1280px) 1283px, 100vw"
  src="./img/hero/desktop/hero-full-1283.jpg"
  alt="Flower"
  width="1280"
  loading="lazy"
/>
  <div class="hero_content">
    <h2 class="hero_subtitle">flower<br />studio</h2>
    <div class="hero-img">
      <img
        class="hero-img small"
        srcset="
          ./img/hero/mobile/hero-145.png 145w,
          ./img/hero/mobile/hero-290.png 290w,
          ./img/hero/tablet/hero-390.png 390w,
          ./img/hero/tablet/hero-780.png 780w
        "
        sizes="(min-width: 768px) 390px, (min-width: 480px) 145px 100vw"
        src="./img/hero/tablet/hero-390.png"
        alt="Flower"
        width="290"
        height="274"
        loading="lazy"
      />
    </div>
    <button class="btn hero-btn" type="button">
      <a class="anchor-link" href="#anchor3">
      <svg class="btn_icon">
        <use class="btn_icon-mob" href="./img/sprite.svg#icon-btn_mob"></use>
        <use class="btn_icon-tab" href="./img/sprite.svg#icon-btn_tablet"></use>
        <use
          class="btn_icon-text"
          href="./img/sprite.svg#icon-now-shop-desk"
        ></use>
        <use
          class="btn_icon-arrow"
          href="./img/sprite.svg#btn-icon-arrow"
        ></use>
      </svg>
    </a>
    </button>
  </div>
  <h2 class="hero_subtitle--white">flower<br />studio</h2>
  <button class="btn hero-btn--white" type="button">
    <a class="anchor-link" href="#anchor3">
    <svg class="btn_icon">
      <use
        class="btn_icon-text-white"
        href="./img/sprite.svg#icon-now-shop-desk"
      ></use>
      <use
        class="btn_icon-arrow-white"
        href="./img/sprite.svg#icon-btn-icon-arrow"
      ></use>
    </svg>
    </a>
  </button>
  <h1 class="hero_title">ANEMONE</h1>
</section>
