<div id="mobile_menu" class="mobile_menu">
  <nav>
    <ul class="navigations__list_mb">
      <li class="navigations__item_mb">
        <a class="navigations__link_mb" href="#anchor1">Anemone</a>
      </li>

      <li class="navigations__item_mb">
        <a class="navigations__link_mb" href="#anchor2">About us</a>
      </li>

      <li class="navigations__item_mb">
        <a class="navigations__link_mb" href="#anchor3">Store</a>
      </li>

      <li class="navigations__item_mb">
        <a class="navigations__link_mb" href="#anchor4">Delivery</a>
      </li>
      <li class="navigations__item_mb">
        <a class="navigations__link_mb" href="#blog">Blog</a>
      </li>
    </ul>
  </nav>
  <button id="close_mobile_menu" type="button" class="js-close-menu">
    <svg class="close-button" stroke="white" width="24" height="24">
      <use href="./img/sprite.svg#close-button"></use>
    </svg>
  </button>
</div>
