<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button" data-modal-close>
      <svg class="modal-icon-close" width="24" height="24">
        <use href="./img/sprite.svg#close-button"></use>
      </svg>
    </button>
    <form class="modal__form">
      <div class="modal__contact" data-modal-contact>
        <strong class="modal__title">Contact us</strong>
        <p class="paragraf">
          If you have any additional questions or you want to clarify
          something before you make an order please fill in your contact
          details. We will call you back.
        </p>
        <label class="modal__label">
          <span class="modal__comment">Name</span>
          <input class="data js-inputname"
            type="text"
            name="Your name"
            pattern="[a-z\s]{1,25}"
            title="Username should only contain lowercase letters. e.g. john" placeholder="Your name"
          />
        </label>
        <label class="modal__label">
          <span class="modal__comment">Email</span>
          <input class="data js-inputemail" type="email" name="Your Email" pattern="^\S+@\S+\.\S+$" placeholder="Your email" />
        </label>
        <button disabled class="modal__button-send js-toggledisabled" type="button" data-modal-send>
          Send
        </button>
      </div>
      <div class="modal__thanks" data-modal-thanks>
        <img
          class="modal2__picture"
          srcset="./img/modal_contact/mobile/thank_mob@1x.png  188w,
            ./img/modal_contact/mobile/thank_mob@2x.png  376w,
            ./img/modal_contact/tab/thank_tabl@2x.png 367w,
            ./img/modal_contact/tab/thank_tabl@2x.png 734w
          "
          sizes="(min-width: 1280px) 367px, (min-width: 768px) 367px, (min-width: 320px) 188px, 100vw"
          src="./img/modal_contact/mobile/thank_mob@1x.png"
          alt=""
          width="188"
          height="142"
        />
        <strong class="modal2__title">Thank you!</strong>
        <p class="modal2__paragraf2">
          We have received your contact details and will reach you soon.
        </p>
        <button
          class="modal2__button-send"
          type="submit"
          data-modal-continue
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>















   
