<section id="anchor3" class="section">
  <div class="container store">
    <div class="store__title-line">
      <h2 class="store__title title">STORE</h2>
      <div class="store__line"></div>
    </div>
    <ul class="store__group">
      <li class="store__list">
        <img
          class="store__picture"
          srcset="
            ./img/store/mobile/bouquet1-mob@1x.jpg       136w,
            ./img/store/tablet/bouquet1-tab@1x.jpg       344w,
            ./img/store/desktop/bouquet1-desktop@1x.jpg  600w,
            ./img/store/mobile/bouquet1-mob@2x.jpg       272w,
            ./img/store/tablet/bouquet1-tab@2x.jpg       688w,
            ./img/store/desktop/bouquet1-desktop@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./img/store/mobile/bouquet1-mob@1x.jpg"
          alt="Bouquet №1"
          width="136"
          height="208"
          loading="lazy"
        />
        <h3 class="store__name">compliments</h3>
        <p class="store__price">from $15</p>
      </li>
      <li class="store__list">
        <img
          class="store__picture"
          srcset="
            ./img/store/mobile/bouquet2-mob@1x.jpg       136w,
            ./img/store/tablet/bouquet2-tab@1x.jpg       344w,
            ./img/store/desktop/bouquet2-desktop@1x.jpg  600w,
            ./img/store/mobile/bouquet2-mob@2x.jpg       272w,
            ./img/store/tablet/bouquet2-tab@2x.jpg       688w,
            ./img/store/desktop/bouquet2-desktop@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./img/store/mobile/bouquet2-mob@1x.jpg"
          alt="Bouquet S"
          width="136"
          height="208"
          loading="lazy"
        />
        <h3 class="store__name">bouquets size S</h3>
        <p class="store__price">from $25</p>
      </li>
      <li class="store__list">
        <img
          class="store__picture"
          srcset="
            ./img/store/mobile/bouquet3-mob@1x.jpg       136w,
            ./img/store/tablet/bouquet3-tab@1x.jpg       344w,
            ./img/store/desktop/bouquet3-desktop@1x.jpg  600w,
            ./img/store/mobile/bouquet3-mob@2x.jpg       272w,
            ./img/store/tablet/bouquet3-tab@2x.jpg       688w,
            ./img/store/desktop/bouquet3-desktop@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./img/store/mobile/bouquet3-mob@1x.jpg"
          alt="Bouquet M"
          width="136"
          height="208"
          loading="lazy"
        />
        <h3 class="store__name">bouquets size M</h3>
        <p class="store__price">from $45</p>
      </li>
      <li class="store__list">
        <img
          class="store__picture"
          srcset="
            ./img/store/mobile/bouquet4-mob@1x.jpg       136w,
            ./img/store/tablet/bouquet4-tab@1x.jpg       344w,
            ./img/store/desktop/bouquet4-desktop@1x.jpg  600w,
            ./img/store/mobile/bouquet4-mob@2x.jpg       272w,
            ./img/store/tablet/bouquet4-tab@2x.jpg       688w,
            ./img/store/desktop/bouquet4-desktop@2x.jpg 1200w
          "
          sizes="(min-width: 1280px) 600px, (min-width: 768px) 344px, (min-width: 480px) 136px, 100vw"
          src="./img/store/mobile/bouquet4-mob@1x.jpg"
          alt="Bouquet L"
          width="136"
          height="208"
          loading="lazy"
        />
        <h3 class="store__name">bouquets size L</h3>
        <p class="store__price">from $60</p>
      </li>
    </ul>
    <button data-modal-open type="button" class="store button large">
      Order flowers
    </button>
  </div>
</section>
