.delivery__container{
    padding: 0;
}

.delivery__title {
    padding: 0 16px;
    margin-top: 0;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet){
        margin-bottom: 60px;
        padding: 0 24px;
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 80px;
    }
}

.delivery__list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 16px;

    @media screen and (min-width: $tablet) {
        padding: 0 24px;
    }

    @media screen and (min-width: $desktop) {
        padding: 0 96px;
    }
}

.delivery__item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    @media screen and (min-width: $tablet){
        margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop){
        margin-bottom: 32px;
    }
}

.delivery__item:last-child {
    margin-bottom: 0;
}

.delivery__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $black-color;

    margin-right: 8px;
    margin-top: 5px;
    margin-bottom: 6px;

    @media screen and (min-width: $tablet){
        width: 64px;
        height: 64px;
        margin-right: 20px;
    }

    @media screen and (min-width: $desktop){
        width: 64px;
        height: 64px;
        margin-top: 11px;
        margin-bottom: 9px;
        margin-right: 56px;
    }
}

.delivery__number {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: $black-color;

    @media screen and (min-width: $tablet){
        font-size: 26px;
        line-height: calc(32 / 26);
    }
}

.delivery__text {
    font-size: 14px;
    line-height: calc(17/14);
    color: $black-color;

    @media screen and (min-width: $tablet){
        font-size: 24px;
        line-height: calc(29/24);
    }

    @media screen and (min-width: $desktop){
        font-size: 32px;
        line-height: calc(39/32);
    }
}

.delivery__img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 26px;

    @media screen and (min-width: $tablet){
        margin-top: 40px;
    }

    @media screen and (min-width: $desktop){
        margin-top: 60px;
    }
}