.footer {
  background-color: $black-color;
  color: $white-color;

  font-family: $inter;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);

  @include media-tablet() {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
  @include media-desktop() {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;

  gap: 32px;

  padding-top: 32px;
  padding-bottom: 32px;

  justify-content: space-between;
  @include media-tablet() {
    justify-content: start;
    gap: 44px;
    padding-top: 60px;
    padding-bottom: 66px;
  }
  @include media-desktop() {
    justify-content: start;
    gap: 96px;
    padding-top: 72px;
    padding-bottom: 84px;
  }
}

.footer__logo {
  display: none;
  @include media-desktop() {
    display: inline-block;
    margin-right: auto;
    fill: $white-color;
    stroke: $white-color;
  }
}

.footer__title {
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);

  @include media-tablet() {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
  @include media-desktop() {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.footer__link {
  display: flex;

  margin-bottom: 12px;

  color: $white-color;
}

.footer__work-time {
  max-width: 85px;
  display: flex;
  flex-wrap: wrap;
  @include media-tablet() {
    max-width: 97px;
  }
  @include media-desktop() {
    max-width: 97px;
  }
}

.footer__navigation-sect {
  @include media-tablet() {
    width: 144px;
  }
  @include media-desktop() {
    width: 116px;
  }
}

.footer__contacts-sect {
  box-sizing: border-box;
  max-width: 128px;

  min-height: 149px;
  height: auto;

  @include media-tablet() {
    max-width: 236px;
  }
  @include media-desktop() {
    max-width: 236px;
  }
}

.footer__contacts-link {
  flex-wrap: wrap;
}

.footer__contacts-link .br {
  @include media-tablet {
    display: none;
  }
  @include media-desktop {
    display: none;
  }
}

.footer__mail--space {
  display: inline-block;
  height: auto;
  width: 17px;
}

.footer__social-sect {
  justify-content: start;
  display: flex;

  height: auto;

  @include media-tablet() {
    margin-left: auto;
    margin-right: 16px;
  }
  @include media-desktop() {
    margin-left: auto;
    margin-right: 24px;
  }
}

.footer__social-list {
  display: flex;
  justify-content: start;

  width: 128px;
  gap: 12px;

  @include media-tablet() {
    flex-direction: column;
    width: auto;
  }
  @include media-desktop() {
    flex-direction: column;
    width: auto;
  }
}

.footer__social-link {
  display: inline-block;
  width: 28px;
  height: 28px;
}

.footer__social-icon {
  fill: transparent;

  stroke: $white-color;
}
