.header {
  position: fixed;
  width: 100%;
  z-index: 200;
  background-color: $white-color;
}

.icon-logo-mobile {
  fill: $dark-color;
}
.icon-tel-mobile {
  fill: $dark-color;
}

.navigation {
  flex: 1;
  justify-content: center;
}

.navigations__list {
  flex-direction: row;
  display: none;

  @include media-tablet {
    gap: 24px;
    display: flex;
  }

  @include media-desktop {
    gap: 48px;
    display: flex;
  }
}

@include media-tablet-and-desktop {
  .navigations__item {
    font-family: $montserrat;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: $black-color;
    font-weight: 400;
  }
}

.flex {
  display: flex;
}

.container_header {
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 19px;
  align-items: center;

  @include media-tablet-and-desktop {
    padding-top: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.style_none {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.contact__link {
  margin-right: 18px;
}

@include media-tablet-and-desktop {
  .icon-logo-mobile {
    height: 57px;
    width: 72px;
  }

  .icon-tel-mobile {
    height: 24px;
    width: 24px;
  }
}

@keyframes anemone_link_hover_in {
  0% {
    transform: translateX(600px);
    opacity: 1;
  }
}

@keyframes anemone_link_hover_out {
  50% {
    transform: translateX(600px);
    opacity: 1;
  }
}

@keyframes anemone_link_hover_after_in {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes anemone_link_hover_after_out {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@include media-desktop {
  #header_and_hero_container {
    display: contents;

    #anemone_link:after {
      content: 'Anemone Anemone';
      width: 160px;
      height: 116px;
      display: flex;
      align-items: center;
      padding: 26px;
      line-height: 40px;
      border-radius: 10px;
      border: 2px dashed #9747ff;
      border-radius: 5px;
      transform: translateY(-50px) translateX(-29px);
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    .navigations__item,
    .icon-logo-mobile,
    .icon-tel-mobile {
      transition: color fill 2s ease;
    }
  }

  .header_and_hero_container_active {
    .header {
      background-color: transparent;
    }

    .navigations__item {
      color: $white-color;
      transition: color 2s ease;
    }

    #anemone_link {
      animation: anemone_link_hover_in 2s ease;
    }

    #anemone_link:after {
      animation: anemone_link_hover_after_in 2s ease;
    }

    .icon-logo-mobile,
    .icon-tel-mobile {
      fill: $white-color;
    }
  }

  .header_and_hero_container_inactive {
    .header {
      transition: background-color 2s ease;
    }

    #anemone_link {
      animation: anemone_link_hover_out 2s ease;
    }

    #anemone_link:after {
      transition-delay: 5s;
    }
  }
}
