.header {
  position: fixed;
  width: 100%;
  z-index: 200;
}

.icon-logo-mobile {
  fill: $dark-color;
}
.icon-tel-mobile {
  fill: $dark-color;
}

.navigation {
  overflow: hidden;
  flex: 1;
  justify-content: center;
}

.navigations__list {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  @include media-tablet {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    gap: 24px;
  }
  @include media-desktop {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    gap: 48px;
  }
}

@include media-tablet-and-desktop {
  .navigations__item {
    font-family: $montserrat;
    font-size: 20px;
    line-height: calc(24 / 20);
    color: $black-color;
    font-weight: 400;
  }
}

.flex {
  display: flex;
}

.container_header {
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 19px;
  align-items: center;

  @include media-tablet-and-desktop {
    padding-top: 28px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.navigations__list {
  display: flex;
  flex-direction: row;
}

.style_none {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.contact__link {
  margin-right: 18px;
}

@include media-tablet-and-desktop {
  .icon-logo-mobile {
    height: 57px;
    width: 72px;
  }

  .icon-tel-mobile {
    height: 24px;
    width: 24px;
  }
}
