.hero {
  position: relative;
  padding-top: 95px;
  padding-bottom: 36px;
  margin-bottom: 100px;
  @media screen and (min-width: $tablet) {
    padding-top: 119px;
    padding-bottom: 94px;
  }
  
  @media screen and (min-width: $desktop) {
    padding-top: 149px;
    padding-bottom: 93px;
  }
}
.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_subtitle {
  margin-right: 14px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $black-color;
  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: calc(29 / 24);
    margin-right: 40px;
    @media screen and (min-width: $desktop) {
      font-size: 32px;
      line-height: calc(39 / 32);
      margin-right: 110px;
      transition: transform 2s ease-in-out 100ms, opacity 1s ease-in-out 100ms;

    .hero:hover & {
      transform: translate(-20px, -20px);
      opacity: 0;
    }
    }
  }
}


.hero_subtitle--white {
  position: absolute;
  top: 579px;
  left: 124px;
  bottom: 201px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(39 / 32);
  color: $white-color;
  opacity: 0;
  transition: transform 2s ease-in-out 100ms, opacity 2s ease-in-out 100ms;

    .hero:hover & {
    transform: translate(20px, 20px);
    opacity: 1;
  }

  @media screen and (max-width: $pre-desktop) {
    display: none;
  }
}


.hero-img {
  margin-right: 8px;
  display: block;
  width: 145px;
  height: 274px;
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
    width: 390px;
    height: 636px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 86px;
    &.small {
      display: none;
    }
  }
}


.hero-img.large {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
    max-width: 1280px;
    height: auto;
    clip-path: inset(100px 445px round 200px);
    transition: 2s;
  }
}
  
.hero:hover .hero-img.large {
  clip-path: inset(0 round 0);
}


.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 76px;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;


  @media screen and (min-width: $tablet) {
    width: 145px;
    height: 150px;
  }


  @media screen and (min-width: $desktop) {
    width: 166px;
    height: 166px;
    transition: transform 2s ease-in-out 100ms, opacity 1s ease-in-out 100ms;


    .hero:hover & {
      transform: translate(20px, -20px);
      opacity: 0;
      
    }
  }
}

.anchor-link {
  display: block;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_icon {
  position: absolute;
  width: 64px;
  height: 76px;

  
  @media screen and (min-width: $tablet) {
    width: 145px;
    height: 150px;
  }

  @media screen and (min-width: $desktop) {
    width: 166px;
    height: 166px;
}
}


.btn_icon-mob {
  
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.btn_icon-tab {
  display: none;
  @media screen and (min-width: $tablet) and (max-width: $pre-desktop) {
    display: block;
  }
}
.btn_icon-text,
.btn_icon-arrow {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
.hero_title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
  color: $black-color;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  @media screen and (min-width: 768px) {
    font-size: 120px;
    line-height: calc(146 / 120);
    color: $black-color;
  }
  @media screen and (min-width: 1280px) {
    font-size: 160px;
    line-height: calc(195 / 160);
    left: 50%;
    transform: translate(-50%, 0);
    transition: transform 2s ease-in-out, color 2s ease-in-out;
    
    .hero:hover & {
      transform: translate(-50%, -180%);
      color: $white-color;
    }
     &::after {
      content: '';
      width: 60px;
      height: 8px;
      background-color: currentColor;
      position: absolute;
      top: 20px;
      right: 20px;
      }
}
}
.hero-btn--white {
  position: absolute;
  padding: 0;
  width: 166px;
  height: 166px;
  top: 535px;
  right: 114px;
  bottom: 157px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
  opacity: 0;
  transition: transform 2s ease-in-out 100ms, opacity 2s ease-in-out 100ms;
  .hero:hover & {
    transform: translate(-20px, 20px);
    opacity: 1;
  }
   @media screen and (max-width: $pre-desktop) {
    display: none;
  }
}
.btn_icon-text-white {
  fill: $white-color;
  transform-origin: center;
  transition: transform 1s ease-in-out;
}
.hero-btn--white:hover .btn_icon-text-white,
.hero-btn--white:focus .btn_icon-text-white {
  transform: scale(1.1);
}
.btn_icon-arrow-white {
  fill: $white-color;
  transition: transform 1s ease-in-out;
  transform-origin: (53% 51%);
}
.hero-btn--white:hover .btn_icon-arrow-white,
.hero-btn--white:focus .btn_icon-arrow-white {
  transform: rotate(122deg) scale(1.2);
}
